.details{
    flex: 1px;
    height: 100%;

    .user{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #dddddd35;

        h2{
            font-size: 16px;
            font-weight: 500;
        }

        p{
            font-size: 12px;
        }

        img{
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .info{
        display: flex;
        padding: 6px 10px;
        gap: 4px;
        flex-direction: column;
        font-size: 13px;


        .option{
            display: flex;
            gap: 8px;
            flex-direction: column;
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17, 25, 40, 8.3);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            } 
        }


        .photos{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .photoItem{
                display: flex;
                justify-content: space-between;
                align-items: center;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17, 25, 40, 8.3);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .photoDetails{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    img{
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                        border-radius: 5px;

                    }
                    span{ 
                        font-size: 13px;
                        color: lightgray;
                        font-weight: 300;
                    }
                }
            }
        }
        button{
            color: white;
            background-color: rgb(234, 51, 51);
            padding: 6px;
            border: 0;
            cursor: pointer;
            border-radius: 10px;

            &:hover{
                background-color: red;
            }

            &.logout{
                background-color: rgb(80, 103, 234);
            }
        }
    }
}